* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.payment {
    width: 100%;
    text-align: center;
    background: radial-gradient(circle, #e21313a9, #34ec1c41, rgba(0, 128, 0, 0.562)); 
}

.payment-form {
    background: linear-gradient(to right, #e2136efe, #ec1c24b3, #9f1cdcb3);

    /* background: radial-gradient(circle, #e2136efe, #ec1c24b3, #9f1cdcb3); */
      
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    
}